header {
  background-color: $TopNavBackgroundColor;

  .widgetco, .fa-bars {
      color: $TopNavTextColor;
    }

  .fa-home, .fa-heart-o, .fa-gift, .fa-paper-plane {
      color: $TopNavLinkColor;
      opacity: 0;
    }
}

nav {
  text-decoration: none;

  &:hover {
    background-color: $TopNavHoverBkgrdColor;
    opacity: 1;
  }
}

.home a {
  &:hover {
    color: $TopNavHoverLinkColor;
    opacity: 1;
  }
}

nav:hover {
    a {
    opacity: 1;
    }
}
