$FontMainColor: #333333;

/*header variables*/
$HeaderTwoFontSize: 2em;
$HeaderThreeFontSize: 1.5em;
$TopNavBackgroundColor: #000000;
$TopNavTextColor: #ffffff;
$TopNavLinkColor: #337ab7;
$TopNavHoverLinkColor: #ffffff;
$TopNavHoverBkgrdColor: #555555;
$PlaceOrderBttnColor: #5cb85c;
$PlaceOrderHoverBttnColor: #449d44;

/*intro variables*/
$IntroTextColor: #ffffff;

/*widget section variables */
$WidgetSectionBkgrdColor: #d9edf7;
$GlyphiconsBkgrdColor: #337ab7;
$GlyphiconsTextColor: #ffffff;


/*order section variables*/
$OrderSectionBkgrdColor: #ffddcc;
$FieldSetHeaderBkgrdColor: #337ab7;
$FieldSetHeaderBorderColor: #337ab7;
$FieldSetFontColor: #ffffff;

/*footer variables*/
$FooterBkgrdColor: #000000;
$FooterFontColor: #ffffff;

/*paragraph variables*/
$ParagraphMarginWidth: 0em 1em 1em 1em;
$ParagraphFontSize: 0.9em;
$ParagraphWidth: 95%;
